 <div class="splash_page_container">
    <div class="top_section">
        <h1 class="app_name">Budget App </h1>
    </div>
    <div class="bottom_section">
      <%= link_to 'LOG IN', new_user_session_path, class: "button login_button"  %>
      <%= link_to 'SIGN UP', new_user_registration_path, class: "button signup_button"  %>
      <!-- <button class="button login_button" type="button">LOG IN</button>
      <button class="button signup_button" type="button">SIGN UP</button> -->

    </div>
  </div>