<div class="login_container">
  <div class="nav_bar_2items">
    <button class="return_button" type="button">
      <img src="./back.svg" alt="return button" srcset="./back.svg" class="return_arrow">
    </button>
    <span class="nav_title">CATEGORIES</span>
    <button class="right_side_button hidden">
      <img src="./search.svg" alt="search button" srcset="./search.svg" class="return_arrow">
    </button>
  </div>
  
  <section class="tansactions_section">
    <div class="category">
      <img src="./category.png" alt="category icon" srcset="./category.png" class="category_icon">
      <div class="details">
        <span class="category_name">Category 2 </span>
      </div>
    </div>
    <div class="separator"></div>
    <div class="transactions_list">
          <div class="transaction">
            <span class="transaction name">
              Transaction N 1
            </span>
            <span class="transaction_date">
              13 Apr 2014 at 12:00
            </span>
            <span class="transaction amount">
              $85.00
          </div>
          <div class="separator"></div>
          <div class="transaction">
            <span class="transaction name">
              Transaction N 1
            </span>
            <span class="transaction_date">
              13 Apr 2014 at 14:00
            </span>
            <span class="transaction amount">
              $36.00
          </div>
          <div class="separator"></div>
          <div class="transaction">
            <span class="transaction name">
              Transaction N 3
            </span>
            <span class="transaction_date">
              13 Apr 2014 at 18:00
            </span>
            <span class="transaction amount">
              $10.00
          </div>
          <div class="separator"></div>
    </div>
    <div class="transaction_total">
      <span class="total_text">TOTAL PAYMENT</span>
      <span class="total_amount">$420.00</span>
    </div>
    <div class="add_category">
      <button class="add_button">ADD TRANSACTION
      </button>
    </div> 
  </section>
</div>